<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Authorization Info-YSW AdSense</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
	<div class="container">
		<div th:include="layout::header"></div>

		<div class="row">
			<div class="col-sm-3">
				<div th:include="layout::nav"></div>
			</div>
			<div class="col-sm-9">

				<p th:if="${param.error}" class="danger">Invalid Pre Auth Code,
					pl. waiting for 10 mins!</p>

				<div sec:authorize="hasAuthority('ADMIN')">
					<h1>欢迎访问YSW Adsense!</h1>
				</div>
				<div sec:authorize="hasAuthority('USER')">
					<p>
						点击去给药尚网第三方平台授权, <a th:href="@{/authorize}">授权</a>
					</p>
					<div>
						<table
							class="table table-striped table-bordered table-hover table-condensed">
							<thead>
								<tr>
									<th>授权项目</th>
									<th>授权信息</th>
									<th>授权日期</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="oa : ${oas}">
									<td th:text="${oa.nickName}"></td>
									<td th:text="${oa.appId}"></td>
									<td th:text="${oa.refreshToken}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>