<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Myazyre Weixin</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
	<div class="container">
		<div th:include="layout::header"></div>

		<div class="row">
			<div class="col-sm-3">
				<div th:include="layout::nav"></div>
			</div>
			<div class="col-sm-9">

				<p th:if="${param.error}" class="danger">Invalid Pre Auth Code,
					System starting pl. waiting for 10 mins!</p>

				<div sec:authorize="hasAuthority('ADMIN')">
					<h1>Welcome to Myazure Weixin Component!</h1>
				</div>
				<div sec:authorize="hasAuthority('USER')">
					<p>
						Click to authorize, <a th:href="@{/authorize}">GO WECHAT NOW</a>
					</p>
					<div>
						<p>
							<strong>Authorized Wechat IDs:</strong>
						</p>
						<table
							class="table table-striped table-bordered table-hover table-condensed">
							<thead>
								<tr><th>Image</th>
									<th>Authorize Info</th>
									<th>Operator</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="oa : ${oas}">
									<td> <img
										th:src="${oa.headImgUrl}" style="width: 100px; height: 100px;" />
									</td>
									<td><label class="control-label">WechatName</label> - <label
										class="control-label" th:text="${oa.nickName}"></label><br />
										<label class="control-label">WechatAppId</label> - <label
										class="control-label" th:text="${oa.appId}"></label><br /> <label
										class="control-label">WechatID</label> - <label
										class="control-label" th:text="${oa.userName}"></label><br />
										<label class="control-label">WechatID</label> - <label
										class="control-label" th:text="${oa.alias}"></label><br />
									<label class="control-label">Authorized</label> - <label
										class="control-label" th:text="${oa.authorized}"></label><br />
									</td>
									<td>
									  
									<a th:href="${oa.appId}">Detial</a><br />
									</td>
								</tr>

							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>