<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>YSW AdSense</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
	<div class="container">
		<div th:include="layout::header"></div>

		<div class="row">
			<div class="col-sm-3">
				<div th:include="layout::nav"></div>
			</div>
			<div class="col-sm-9">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="/users">Users Management</a></li>
					<li class="active"><a href="#">User Details</a></li>
				</ol>
				<div style="padding-bottom: 15px;">
					<a th:href="@{/user/create(id=${user.id})}"
						class="btn btn-sm btn-default"> Modify </a>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label col-lg-3">Event Name:</label> <label
								th:text="${user.userName}"></label>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-3">Role:</label> <label
								th:text="${user.role}"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>